.card {
    border: 2px solid black;
    border-radius: 10px;
}

.card-title {
    margin: 0;
}

.fullname {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: 600;
}

.fullname > div {
    width: 150px;
    text-align: start;
}

.fullname > span {
    width: 250px;
}

.card-header {
    background-color: rgb(173, 173, 253);
}

.card-header:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body {
    background-color: rgb(198, 198, 242);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(129, 129, 186);
    transition: 1s;
}

